<ion-header>
  <ion-toolbar>
    <ion-title>Digestório</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-content>
  O sistema digestório é o sistema do corpo humano responsável por garantir o processamento do alimento que ingerimos, promovendo a absorção dos nutrientes nele contidos e a eliminação do material que não será utilizado pelo corpo. Esse processamento é garantido graças à ação dos vários órgãos que compõem o canal alimentar, bem como pela presença de glândulas acessórias, que sintetizam substâncias que são essenciais no processo de digestão.
    <ion-card-subtitle>   Referencia:</ion-card-subtitle>
    <ion-card-subtitle><a href="https://brasilescola.uol.com.br/biologia/sistema-digestivo.htm">Sistema digestório</a>. Brasil Escola. Consultado em 11/03/2021</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="success" fill="outline" (click)='chamarBoca()'>Boca</ion-button>
  <ion-button expand="block" color="success" fill="outline" (click)='chamarFaringe()'>Faringe</ion-button>
  <ion-button expand="block" color="success" fill="outline" (click)='chamarEsofago()'>Esôfago</ion-button>
  <ion-button expand="block" color="success" fill="outline" (click)='chamarEstomago()'>Estômago</ion-button>
  <ion-button expand="block" color="success" fill="outline" (click)='chamarIntestinoDel()'>Intestino Delgado</ion-button>
  <ion-button expand="block" color="success" fill="outline" (click)='chamarIntestinoGro()'>Intestino Grosso</ion-button>
  <ion-button expand="block" color="success" fill="outline" (click)='chamarAnus()'>Ânus</ion-button>

</ion-content>
