<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o aplicativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-title style="font-size: 30px; color:black; text-align:center;">BioMais</ion-title>
  </ion-card-header>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    O BioMais é um App voltado ao aprendizado dos sistemas do Corpo Humano, na qual são abrangidos conceitos de
    Anatomia e Fisiologia Humana em formato de game. Com ele, você responderá perguntas em seis padrões distintos
     e acumula pontos a cada acerto, além de receber recompensas por acertos consecutivos e feedbacks quando erra!
  </ion-card-content>

  <ion-title style="font-size: 30px; color:black; text-align:center;">Pesquisadora</ion-title>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <p style="text-align:center">• Caroline Oenning</p>
    <p style="text-align: center">contato: oenningcaroline@hotmail.com</p>
  </ion-card-content>

  <ion-title style="font-size: 30px; color:black; text-align:center;">Desenvolvedores</ion-title>
  <ion-card-content style="font-size: 15.5px;">
    <p style="text-align: center">• Gabriel da Silva de Oliveira:</p>
    <p style="text-align: center">contato: gabrielsilvaol10@gmail.com</p> 
  </ion-card-content>

  <ion-card-content style="font-size: 15.5px;">
    <p style="text-align: center">• Gustavo Orelio</p>
    <p style="text-align: center">contato: oreliogustavo@gmail.com</p>
  </ion-card-content>

  <ion-card-content style="font-size: 15.5px;">
    <p style="text-align: center">• João Pedro</p>
    <p style="text-align: center">contato: jpfsouza99@gmail.com</p>
  </ion-card-content>

  <ion-title style="font-size: 30px; color:black; text-align:center;">Coordenadores</ion-title>
  <ion-card-content style="font-size: 15.5px;">
    <p style="text-align: center">• Frank Willian Cardoso de Oliveira</p> 
  </ion-card-content>

  <ion-card-content style="font-size: 15.5px;">
    <p style="text-align: center">• Daniela Eloise Flôr</p>
    <p style="text-align: center">contato: daniela.flor@ifpr.edu.br</p>
  </ion-card-content>
</ion-card>

</ion-content>