<ion-header>
  <ion-toolbar>
    <ion-title>Faringe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre a Faringe</ion-card-title>
      <img src="assets/imagensCorpo/faringe.jpg">
    </ion-card-header>
  
    <ion-card-content>
      A faringe é uma estrutura que faz parte tanto do sistema digestório quanto do sistema respiratório, sendo um local por onde o alimento e o ar passam. Esse órgão permite, por exemplo, que sejamos capazes de respirar mesmo quando nossas cavidades nasais estão obstruídas. A faringe apresenta três regiões: a nasal, a oral e a laríngea.
                                                                              <!--caracter invisível-->
      <ion-card-subtitle><a href="https://brasilescola.uol.com.br/biologia/faringe.htm">Faringe</a>. Brasil Escola. Consultado em 11/03/2021</ion-card-subtitle>
                                                                              <!--caracter invisível-->
      <ion-title>Anatomia da Faringe</ion-title>
      <img src="assets/imagensCorpo/faringeIntegrada.jpg">
      É um tubo, cujas paredes são musculosas e revestidas de mucosa. Ela está localizada na altura da garganta, à frente de vértebras cervicais, fixada na base do crânio. Pode ser dividida em três regiões: orofaringe, nasofaringe e laringofaringe.
      <ion-title>Nasofaringe</ion-title>
      A parte superior da faringe se comunica com as cavidades do nariz, através das coanas, e com as orelhas médias, pela tuba auditiva de cada lado.
      <ion-title>Orofaringe</ion-title>
      A região orofaríngea é intermediária entre as outras regiões. Comunica-se com a abertura da boca através de uma região denominada istmo das fauces.
      <ion-title>Laringofaringe</ion-title>
      Mais inferior é a região laringofaríngea, que se comunica com a entrada da laringe (no sistema respiratório) e mais abaixo com a abertura do esôfago (no sistema digestório).                                                                        <!--caracter invisível-->
      <ion-card-subtitle><a href="https://www.todamateria.com.br/faringe/">Faringe</a>. TodaMatéria. Consultado em 11/03/2021</ion-card-subtitle>
      
    </ion-card-content>
  </ion-card>

</ion-content>
