<ion-header translucent>
  <ion-toolbar>
    <ion-title style="text-align: right;">
      0 BioPontos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card (click)="chamarDigestorio()">
    <img src="../../assets/img/Digestorio.jpeg" />
    <ion-card-header>
      <ion-card-title style="font-size: 16px; text-align: center;">Sistema Digestório</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarRespiratorio()">
    <img src="../../assets/img/Respiratorio.jpeg" />
    <ion-card-header>
      <ion-card-title style="font-size: 16px; text-align: center;">Sistema Respiratório</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarCardiovascular()">
    <img src="../../assets/img/Cardiovascular.jpeg" />
    <ion-card-header>
      <ion-card-title style="font-size: 16px; text-align: center;">Sistema Cardiovascular</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarUrinario()">
    <img src="../../assets/img/Urinario.jpeg" />
    <ion-card-header>
      <ion-card-title style="font-size: 16px; text-align: center;">Sistema Urinário</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarReprodutor()">
    <img src="../../assets/img/Reprodutor.jpeg" />
    <ion-card-header>
      <ion-card-title style="font-size: 16px; text-align: center;">Sistema Reprodutor</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>